body {
    font-family: "Bowlby One SC",'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3M4YXN0bXc3NWk2ZG9ma21peHNqMm45OTd2aXp0aHpvdG43cHNlMSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Q99A6dXgEr3shEYNi3/giphy.gif);
    width : 100%;
    height : 100%;
}

header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px ;
    /* padding-left: 10px; */
    text-align: start;
    border: #b3b3b3 1px solid;
    border-radius: 3px;
    width : 100%;
    font-size: 30px;
}

header h1 {
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: #000000;
    color: rgb(114, 113, 113);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 15px;
    text-align: center;
    font-size: 10px;
    
}

.playlist-card-container {
    /* grid-template-columns: repeat(4, 21%);  4 columns of equal width */
    grid-template-rows: auto; /* rows will adjust based on content */
    row-gap: 2%; 
    column-gap: 3%;
    padding: 1%;
    width : 100%;
    box-sizing: border-box; /* ensures padding is included in width */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.playlist-card {
    background-color: #000000;
    border: 1px solid #ffd900;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(255, 247, 0, 0.7);
    transition: box-shadow 0.3s ease;
    color: white;

    width : 300px;
    min-width: 50px; 
    max-width: 500px;
    height : 490px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.playlist-card h2, h3, p {
    margin: 7px;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.playlist-card img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.playlist-card:hover {
    box-shadow: 0 15px 15px rgba(255, 204, 0, 0.9);
}

#delete-button {
    font-size: 15px;
    margin: 10px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 5px;
    margin-left: auto;

    text-shadow: 0 2px 4px rgb(255, 238, 0);
    transition: box-shadow 0.3s ease;
}

#delete-button:hover {
    box-shadow: 0 5px 5px rgba(255, 217, 0, 0.9);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    /* FlexBox */
    justify-content: center;
    align-items: center;

}

/* Modal content box */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto; /* keeps scrolling in the modal box*/
    width: 75%;
    height: 55%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}

.close-button {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.likebutton {
    cursor: pointer;
    background: #000000;
    border: none;
    padding: 5px;
    font-size: 40px;
    color: #adadad;
}

.likebutton.liked {
    color: red;
}

.modal-header {
    position: relative;
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

#modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 0;
}

.modal-title-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000000;
}

#modal-creator {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 1.2em;
    color: #000000;
    font-weight: bold;
}

#modal-song-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
}

.song-image {
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
    border-radius: 5px;
    display: block;
    margin: 0;
    flex-shrink: 0;
}

.song-info { /* holds the title and artist */
    flex: 1; /* this takes up space between the other things in the modal song box*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-song {
    background-color: #000000;
    border: 1px solid rgb(255, 191, 0);
    color: white;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.modal-song:hover {
    box-shadow: 0 20px 30px rgba(255, 221, 0, 0.5);
}

#modal-image {
    border: 4px solid #000000; /* or any color/width you like */
    border-radius: 10px;        /* keep or adjust for rounded corners */
}


#modal-shuffle{
    color: rgb(255, 255, 255);
    font-size: 35px;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#modal-shuffle:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

nav {
    color: black;
    padding-right: 100px ;
    margin: 0px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

nav a {
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    text-shadow: 0 12px 24px rgba(255, 221, 0, 0.5);
}

nav a.active{
    color: #ffd900;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);

    transition: box-shadow 0.3s ease;
    text-decoration: none;
}

nav a.active:hover {
    text-shadow: 0 12px 24px rgba(255, 247, 0, 0.9);
}

.bowlby-one-sc-regular {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
