body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    width : 100%;
}

header {
    background-color: #dbd9d9;
    color: rgb(114, 113, 113);
    padding: 10px ;
    padding-left: 30px;
    text-align: start;
    border: #b3b3b3 1px solid;
    border-radius: 3px;
    width : 100%;
}

footer {
    background-color: #dbd9d9;
    color: rgb(114, 113, 113);
    border: #b3b3b3 1px solid;
    border-radius: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    
}

.playlist-card-container {
    /* grid-template-columns: repeat(4, 21%);  4 columns of equal width */
    grid-template-rows: auto; /* rows will adjust based on content */
    row-gap: 2%; 
    column-gap: 3%;
    padding: 1%;
    width : 100%;
    box-sizing: border-box; /* ensures padding is included in width */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.playlist-card {
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    width : 300px;
    min-width: 50px; 
    max-width: 500px;
    height : 520px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.playlist-card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.playlist-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    /* FlexBox */
    justify-content: center;
    align-items: center;

}

/* Modal content box */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto; /* keeps scrolling in the modal box*/
    width: 75%;
    height: 55%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}


/* Close button */
.close-button {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}


.likebutton {
    cursor: pointer;
    background: #ffffff;
    border: none;
    padding: 5px;
    font-size: 30px;
    color: #adadad;
}

.likebutton.liked {
    color: red;
}

/* .likebutton.hover {
    color: pink
} */

.modal-header {
    position: relative;
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

#modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 0;
}

.modal-title-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000000;
}

#modal-creator {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 1.2em;
    color: #000000;
    font-weight: bold;
}

#modal-song-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px
}